// FIcha styles

.ficha {
  main {
    @include media-breakpoint-down(lg) {
      padding-top: 70px;
    }
  }

  &-wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: #fff;
    font-size: 1.4rem;
  }

  .primera-columna {
    .titulo-obra {
      display: block;
      margin-top: 1.5em;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  .segunda-columna {
    .titulo-obra {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }

  .main-title {
    font-size: 2.6rem;
    text-transform: uppercase;
  }

  .subtitle {
    font-weight: 400;
    background-color: #fff;
    color: #4d4d4d;
    padding: 5px 10px 4px;
    margin: 20px 0 15px;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.1em;
  }

  .link {
    color: #ff9540;
    text-align: right;
    display: block;
    //text-decoration: underline;
    margin-top: 15px;
    margin-right: 20px;
  }

  .eye {
    margin: 0 auto;
    opacity: 1;
    width: 120px;
    display: block;
    @include media-breakpoint-down(sm) {
      width: 130px;
    }

    &:hover {
      transform: scale(1);
    }

    &-shape {
      background-color: $orange;
      border: 0;
      box-shadow: 0;
      width: 110px;
      height: 110px;
      @include media-breakpoint-down(sm) {
        width: 120px;
        height: 120px;
      }
    }

    .title {
      text-shadow: none;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
  }

  .obra-imagen {
    position: relative;

    &::after {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background: #16182c;
      background: linear-gradient(0deg, #16182c 0%, rgba(255, 255, 255, 0) 32%);

      @include media-breakpoint-down(xs) {
        height: calc(100% - 40px);
      }
    }
  }

  .metadata a {
    color: #fff;

    &:not(:last-child):after {
      content: ", ";
    }
  }

  .ficha-autor {
    @include media-breakpoint-down(lg) {
      margin-top: 2em;
    }
  }
}
